DocsRegistry/Web References/net.cloudua.lek/Documents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://www.TestBase.net" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.TestBase.net/Documents" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd2="http://www.TestBase.net/Documents" name="Documents" targetNamespace="http://www.TestBase.net/Documents" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://www.TestBase.net" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.TestBase.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Customer">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="EDRPOU" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Document">
        <xs:sequence>
          <xs:element name="DocType" type="xs:string" />
          <xs:element name="Date" type="xs:dateTime" />
          <xs:element name="Number" type="xs:string" />
          <xs:element name="Organization" type="tns:Organization" />
          <xs:element name="Customer" type="tns:Customer" />
          <xs:element name="Comments" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Documents">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Docs" type="tns:Document" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Organization">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="EDRPOU" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:xs2="http://www.TestBase.net/Documents" xmlns:xs1="http://www.TestBase.net" elementFormDefault="qualified" targetNamespace="http://www.TestBase.net/Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.TestBase.net" />
      <xs:element name="GetDocuments">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Date1" nillable="true" type="xs:date" />
            <xs:element name="Date2" nillable="true" type="xs:date" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDocumentsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="GetDocumentsRequestMessage">
    <part name="parameters" element="xsd2:GetDocuments" />
  </message>
  <message name="GetDocumentsResponseMessage">
    <part name="parameters" element="xsd2:GetDocumentsResponse" />
  </message>
  <portType name="DocumentsPortType">
    <operation name="GetDocuments">
      <input message="xsd2:GetDocumentsRequestMessage" />
      <output message="xsd2:GetDocumentsResponseMessage" />
    </operation>
  </portType>
  <binding name="DocumentsSoapBinding" type="xsd2:DocumentsPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDocuments">
      <soapbind:operation soapAction="http://www.TestBase.net/Documents#Documents:GetDocuments" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="DocumentsSoap12Binding" type="xsd2:DocumentsPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDocuments">
      <soap12bind:operation soapAction="http://www.TestBase.net/Documents#Documents:GetDocuments" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Documents">
    <port name="DocumentsSoap" binding="xsd2:DocumentsSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://lek.cloudua.net/TestBase/ws/Documents.1cws" />
    </port>
    <port name="DocumentsSoap12" binding="xsd2:DocumentsSoap12Binding">
      <soap12bind:address location="http://lek.cloudua.net/TestBase/ws/Documents.1cws" />
    </port>
  </service>
</definitions>